<h1><%= @team.name %></h1>


    <%= image_tag @team.image, :class =>'thumb' if @team.image.present? %>
        <ul>
            <li> Name: <%=  @team.name %></li>
            <li>Country: <%= @team.country %></li>
            <li>Founded: <%= @team.dob%></li>
        </ul>

        <% @team.managers.each do |manager|%>
            <%= link_to image_tag(manager.image, :class=> 'thumb'), manager %>
        <%end%>

      
      <%= link_to "All Players", players_path%>
      <%= link_to "New Players", new_player_path%>
        <div class="controls">
            <%= link_to "Edit stats", edit_team_path(@team)%>
            <%= link_to "Delete Team", @team, :method => 'delete'%>
        </div>
