<h1><%= @manager.name%></h1>

<%= image_tag @manager.image, :class => 'feature' %>

<ul>
    <li>Name: <%= @manager.name%></li>
    <%if @manager.team.present?%>
        <li>Team: <%= link_to @manager.team, @manager.team%> </li>
   <%end%>
    <li>Trophies: <%= @manager.trophies%></li>
    <li>Country of birth: <%= @manager.nationality%></li>

</ul>

<% @manager.players.each do |player|%>
            <%= link_to image_tag(player.image, :class=> 'thumb'), player %>
        <%end%>


<div class="controls">
<%= link_to "Edit Manager", edit_manager_path(@manager)%>
<%= link_to "Delete Manager", @manager, :method=> 'delete' %>
</div>