<h1><%= @manager.name%></h1>

<%= image_tag @manager.image, :class => 'feature' %>

<ul>
    <li>Name: <%= @manager.name%></li>
    <li>Team: <%= @manager.team%></li>
    <li>Trophies <%= @manager.trophies%></li>
    <li>Country of birth: <%= @manager.nationality%></li>

</ul>

<div class="controls">
<%= link_to "Edit Manager", edit_manager_path(@manager)%>
<%= link_to "Delete Manager", @manager, :method=> 'delete' %>
</div>